#outputPanel{

	margin-top: 60px;
	width:100%;
	height:380px;
	background-color:white;
	border-radius:8px;
}

/* STYLE FOR THE GRAPH PAGE*/

#graph img{
	height: auto;
	width: 100%;
	padding-top:10px;
	padding-left:10%;

}

#graphWrapper{

	float:left;
	width: 60%;
	margin-bottom: 6px;
	margin-right: 80px;
	padding-right: 1%;
	padding-left:15%;


}

#graphWrapper header{
	background-color: white;
	width:60%;
	margin-left:calc(40%);
	font-size : 17px;
	letter-spacing: 3px;
	padding-top:10px;
	padding-bottom: 10px;
	
	border-radius: 15px 15px 0px 0px;

}

#graphWrapper #graph{
	background-color: white;
	height:100%;
	width:100%;
}

/* CONSUMER SEGMENTATION SECTION*/

#costumerWrapper{
	display: block;
	justify-content: center;
	text-align: center;
	width:100%;
	height:100%;
	
}

#costumerWrapper header{
	
	margin:5px;
	font-size:15px;
	margin-left:10px;
	letter-spacing: 3px;
	float:left;
}

#costumerBody{
	float:left;
	width: 70%;
	margin-bottom: 6px;
	margin-right: 80px;
	padding-right: 1%;
	padding-left:15%;
}

/* IMAGES */
#costumerBody img{
	height: auto;
	width: 80%;
	padding-top:10px;
}


.btnWrapper{
	position: relative;
	height:auto;
	padding-top: 2%;
}

#volumeWrapper .btnWrapper #baseline, #volumeWrapper .btnWrapper #scenario, #volumeWrapper .btnWrapper #compare{
	margin-top:-15px;
}

.typeBtn{
	position: inline-block;
	float:left;
	background-color: white;
	width:160px;
	height:100%;

	border-radius: 3px;
	margin-right: 15px;
	margin-top: 20px;

	cursor:pointer;

		color:#444444;


}

.typeBtn:hover{
	margin-top:10px;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: red;
}
.btnTitle{
	text-align: left;
	letter-spacing: 2px;
	margin-top:2px;
	margin-left:5px;
	font-weight: bold;
	height:45px;
}


#compareTitle,#baselineTitle,#scenarioTitle{
	font-size:24px;
	line-height: 45px;
	margin-left:13px;
}

.btnLine{
	background-color:lightgray;
	width:90%;
	height:1px;
	margin-left: calc(10% / 2);
}

.btnDescription{
	margin-left:3px;
	margin-top: 5px;
	text-align: left;
	font-size:8px;
	line-height: 10px;
}

/* VOLUME THINGS */

#volumeWrapper{
	display: block;
	justify-content: center;
	text-align: center;
	width:100%;
	height:100%;




}

#volumeWrapper header{
	margin:5px;
	font-size:15px;
	margin-left:10px;
	letter-spacing: 3px;
	float:left;
}

/* IMAGES */
#volumeBody img{
	height: auto;
	width: 70%;
	padding-top:10px;
}

#volumeBody{
	float:left;
	width: 70%;
	height:100%;
	margin-bottom: 6px;
	margin-right: -55px;
	padding-right: 5%;
	padding-left:15%;
}